{# https://tailwindcss.com/plus/ui-blocks/application-ui/application-shells/stacked#component-1b6c2fdf05472f8dcea7057074492fd6 #}
<!DOCTYPE html>
<html class="h-full bg-gray-100 dark:bg-gray-900">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#00bc7d">
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
        <title>{% block title %}owoody{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="h-full">
        <div class="min-h-full">
            {% set route = app.request.attributes.get('_route') %}
            {% set navigation_entries = [{'route': 'index', 'label': 'Dashboard'}, {'route': 'route', 'label': 'Routes'}, {'route': 'setting' ,'label': 'Settings'}] %}
            <nav class="bg-emerald-600 dark:bg-emerald-800" x-data="{ open: false }">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center justify-between">
                        <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
                            {% block navigation_button %}
                                <button @click="open = !open" x-bind:aria-expanded="open.toString()" type="button" class="relative inline-flex items-center justify-center rounded-md bg-emerald-600 p-2 text-emerald-200 hover:bg-emerald-500/75 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-white dark:bg-emerald-800 dark:hover:bg-emerald-700/75">
                                    <span class="absolute -inset-0.5"></span>
                                    <span class="sr-only">Open main menu</span>
                                    <svg x-description="Icon when menu is closed." x-state:on="Menu open" x-state:off="Menu closed" class="size-6 block" :class="{ 'hidden': open, 'block': !(open) }" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                                        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <svg x-description="Icon when menu is open." x-state:on="Menu open" x-state:off="Menu closed" class="size-6 hidden" :class="{ 'block': open, 'hidden': !(open) }" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            {% endblock %}
                        </div>
                        <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                            <div class="hidden md:block">
                                <div class="flex items-baseline space-x-4">
                                    {% for entry in navigation_entries %}
                                        {% if route starts with entry.route %}
                                            <a href="{{ path(entry.route) }}" aria-current="page" class="rounded-md bg-emerald-700 px-3 py-2 text-sm font-medium text-white dark:bg-emerald-950/40">{{ entry.label }}</a>
                                        {% else %}
                                            <a href="{{ path(entry.route) }}" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-emerald-500/75 dark:hover:bg-emerald-700/75">{{ entry.label }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="absolute inset-y-0 right-0 flex items-center pr-2 gap-x-4 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                            {% block navigation_buttons %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div x-description="Mobile menu, show/hide based on menu state." x-show="open" x-cloak class="md:hidden">
                    <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
                        {% for entry in navigation_entries %}
                            {% if route starts with entry.route %}
                                <a href="{{ path(entry.route) }}" aria-current="page" class="block rounded-md bg-emerald-700 px-3 py-2 text-base font-medium text-white dark:bg-emerald-950/40">{{ entry.label }}</a>
                            {% else %}
                                <a href="{{ path(entry.route) }}" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-emerald-500/75 dark:hover:bg-emerald-700/75">{{ entry.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </nav>

            <header class="relative bg-white shadow-sm dark:bg-gray-800 dark:shadow-none dark:after:pointer-events-none dark:after:absolute dark:after:inset-x-0 dark:after:bottom-0 dark:after:h-px dark:after:bg-white/10">
                <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
                <h1 class="text-lg/6 font-semibold text-gray-900 dark:text-white">{% block navigation_title %}{% endblock %}</h1>
                </div>
            </header>
            <main>
                <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                    {% block main %}{% endblock %}
                </div>
                {% include 'component/flash.html.twig' %}
            </main>
        </div>
    </body>
</html>
